body {
    background: #aab5c6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}

h1 {
    margin: 0.5rem;
    font-size: 3.5vmax;
    text-align: center;
}

.product-description {
    background-color: #85abab;
    border: 1px solid aqua;
    border-radius: 2%;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.product-image {
    background-color: #a9aba5;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    border: 1px solid aqua;
    border-radius: 2%;
    width: 10%;
    flex-basis: 18%;
}

.product-texts {
    font-size: large;
    text-transform: capitalize;
    background-color: none;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    border: 1px solid aqua;
    border-radius: 2%;
    width: 10%;
    flex-grow: 4;
}

.product-image:hover{
    background-color: #a5abaa;
    box-shadow: 4px 4px 10px #6DBDAD;
    transform: scale(1.05);
}