body {
    background: #a0b5c6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}

h1 {
    margin: 0.5rem;
    font-size: 3.5vmax;
    text-align: center;
}

h2 {
    font-size: 3vmax;
}

table, td {
    border: 1px solid black;
}

.product-container {
    background-color: #85abab;
    border: 1px solid aqua;
    border-radius: 2%;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product {
    background-color: #a9aba5;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    border: 1px solid aqua;
    border-radius: 2%;
    width: 10%;
    flex-basis: 18%;
}

.product > .product-image {
    width: 100%;
    height: fit-content;
}

.product > .product-top {
    background-color: #a5abaa;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
    margin-bottom: 5px;
    border-radius: 2px;
}

.product > .product-price {
    text-align: center;
    font-family: Garamond, serif;
    font-size: 200%;
}

.product > .product-image {
    margin-top: auto;
}

.product > .product-buy {
    padding: auto;
    margin: auto;
    text-align: center;
    border: 1px solid aqua;
    border-radius: 2%;
    color: honeydew;
    font-size: 100%;
}

.product > .product-button {
    border: 1px solid aqua;
    border-radius: 2%;
    background-color: #5b5556;
    color: honeydew;
    font-size: 100%;
    height: 4rem;
    cursor: pointer;
}

.product > .product-button:active {
    background-color: #3d18df59;
}

.product:hover{
    background-color: #a5abaa;
    box-shadow: 4px 4px 10px #6DBDAD;
    transform: scale(1.05);
}

.login-button {
    position: fixed;
    top: 0;
    right: 0;
    background-image: url("loginLogo.png");
    background-size: 100% 100%;
    padding: 20px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.logout-button {
    position: fixed;
    bottom: 0;
    right: 0;
    background-image: url("logoutLogo.png");
    background-size: 100% 100%;
    padding: 20px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #a9aba5;
    margin: 5px auto; 
    border: 1px solid #888;
    width: 80%; 
}

.login-form {
    background-color: #a9aba5;
    margin: 0.5rem;
    padding: 0.5rem;
    display: box;
    border: 1px solid aqua;
    border-radius: 2%;
    width: auto;
}

.logout-box {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.submit-button {
    border: 1px solid aqua;
    border-radius: 2%;
    background-color: #5b5556;
    color: honeydew;
    cursor: pointer;  
}


.shopping-cart {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}